<% include ../partials/header %>

<div class="container outermostContainer">
  <img src="<%= user.thumbnail %>" alt="Profile picture" class="profile-picture">
  <h1 class="username">Hi! <%= user.username %></h1>
</div>

<div class="container">{
  <!-- write code -->
}

<% include ../partials/footer %>
